PasswordAuthentication no
PermitEmptyPasswords no
PermitRootLogin no
LoginGraceTime {{ sshd_login_grace_time }}
MaxAuthTries {{ sshd_max_auth_tries }}
KbdInteractiveAuthentication no
KerberosAuthentication no
X11Forwarding no

